.btn1 {
    background-color: #aa1704;
    border: none;
    color: white;
    padding: 120px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  }